#items {
    display: flex;
    flex-wrap: wrap;
    
}
#items a {
    border: 1px solid #D1D5DB;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F3F4F6;
}
#items a:hover {
    background: #E5E7EB;
}
