:root {
    /* main colors */
    --color-white: #FEFEFE;
    --color-black: #474747;
    --color-gray: #AFAFAF;
    --color-gray-lighter: rgba(175, 175, 175, 0.25);

    --color-yellow: #FFFF4A;
    --color-green-dark: #5D837C;
    --color-green: #C9FF8D;
    --color-purple: #F681F9;
    --color-purple-dark: #e665e8;

    /* font size */
    --text-small: 14px;
    --text-normal: 16px;

    /* typography */
    --typo-sans: -apple-system, 'Helvetica Neue', 'Arial', sans-serif;
    --typo-mono: monospace;

    /* sizes */
    --none: 0px;
    --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --lg: 2rem;
    --xl: 4rem;
    --xxl: 8rem;

}

* {
    box-sizing: border-box;
}

html,
body {
    color: var(--color-black);
    background: var(--color-white);
    font-family: var(--typo-sans);
    font-size: var(--text-normal);
    line-height: 140%;
}

body {
    padding: var(--md);
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    margin-bottom: var(--lg);
}

h2 {
    margin-bottom: var(--md);
}

p {
    margin-bottom: var(--md);
}

p.caption {
    font-size: var(--text-small);
    text-align: center;
    color: var(--color-green-dark);
}

/* p:last-of-type {
    margin-bottom: (var(--none));
} */

a {
    color: var(--color-purple);
}


a:hover {
    text-decoration: underline;
}


a.gohome {
    color: var(--color-black);
}

a.gohome:hover {
    text-decoration: underline;
}

/* ul {
    list-style-position: inside;
    list-style-type: "\2736";
}

li::marker {
    font-size: var(--text-small);
} */

mark {
    background: var(--color-green);
}

img {
    margin-bottom: var(--sm);
    border-radius: var(--xs);
    /* border: 1px solid #AFAFAF; */
}

div.image {
    display: flex;
    justify-content: center;
    margin-top: var(--xl);
    margin-bottom: var(--xl);
}

#blocks:last-child {
    margin-bottom: var(--xxl);
}

#items {
font-size: var(--text-small);
}

#items p{
    margin-bottom: var(--none);
}

/* #items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--md);
    font-size: var(--text-small);
}

#items a.channel {
    border: 1px solid #AFAFAF;
    border-radius: var(--xs);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    margin-right: var(--sm);
    margin-bottom: var(--sm);
}

#items a.channel:hover {
    background: var(--color-gray-lighter);
} */


#load-more {
    /* outline: none;
    border: 1px solid black; */
    cursor: pointer;
    display: none;
}

/* #load-more, #loading {
    width: 100%;
    padding: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    letter-spacing:-0.06em;
}
#load-more:hover {
    border-radius: 2rem;
} */

#load-more.able-to-load {display: block}
#loading.done-loading {display: none}